.about_box
  .section
    %h2 Hvorfor
    %p
      :plain
        Sammen med nye tenner, soverutiner og mulige fall i boligmarkedet er skolekvaliteten et vanlig samtaletema blant foreldre i Oslo Øst. En kveld forsøkte jeg å finne å finne noen tall på det, men kom bare tilbake fra Google med et <a href="http://www.dagbladet.no/nyheter/2008/11/13/553824.html">excel-ark</a> fra Dagbladet og minner om et lite behjelpelig <a href="http://skoleporten.utdanningsdirektoratet.no/rapportvisning.aspx?enhetsid=974589877&vurderingsomrade=88e13531-a5b6-4c33-ad87-b0ceb59b26b1&underomrade=84a8d573-72fc-4c7c-ba82-ff996c4a80ce&skoletype=0">utdanningsdirektorat</a>. Jeg tenkte derfor at det hadde vært en fin liten øvelse å gjøre denne informasjonen mer tilgjengelig.
  .section
    %h2 Kartnøkkel
    %p
      %ul
        %li
          Grønne skoler gjorde det bra
        %li
          Røde skoler gjorde det dårlig
        %li
          Større markører betyr flere elever
  .section
    %h2 Nasjonale prøver
    %p
      :plain
        Man skal være forsiktig med hva man måler ettersom måling ofte endrer adferd på utilsiktede måter. Incentivene du trodde skulle effektivisere og forenkle, <a href="http://en.wikipedia.org/wiki/Perverse_incentive">perverterer prosessene</a> du forsøkte å styre. I USA har de senket nasjonale krav for læreplaner samtidig som de har lagt vekt på nasjonale prøver. Den angrende Diane Ravitch som innførte dette systemet har skrevet om hvordan det gikk i <a href="http://www.amazon.com/Death-Great-American-School-System/dp/0465014917">The Death and Life of the Great American School System: How Testing and Choice Are Undermining Education</a>.
    %p
      :plain
        Så hvorfor sitte oppe om natten for å gjøre disse resultatene tilgjengelige? De nasjonale prøvene brukes allerede av utdanningsdisrektoratet til å belønne skolene. Så viktig har det blitt for skolene at de holder <a href="http://www.aftenposten.no/nyheter/iriks/article3882776.ece">svake elever hjemme</a>. De eneste som ikke har god tilgang til tallene er vi som ikke har skolen som arbeidsplass. Jeg synes man burde se lenge og hardt på hvorvidt man skal måle skolene på denne måten, men når informasjonen først eksisterer kan jeg ikke se noen grunn til at den ikke skulle være allment tilgjengelig på en god måte. 
  .section
    %h2 Datakvalitet
    %p
      :plain
        Utdanningsdirektoratet tilbyr ingen maskin-til-maskin kommunikasjon og da jeg kontaktet dem for å få informasjonen jeg trengte foreslo de at jeg skulle kopiere informasjonen manuelt ut av nettsidene deres. <strong>Elevantall</strong> og <strong>adresser</strong> er derfor maskinelt skrapt ut av <a href="http://skoleporten.utdanningsdirektoratet.no/default.aspx">skoleporten.utdanningsdirektoratet.no</a>. Det kan derfor være feil. Jeg er ganske sikker på at det ikke går 50 elever på sinsen skole og at Workinnmarka skole ikke ligger i vannet uti sundet utenfor Tromsø. Jeg jobber med å få denne informasjonen ut av utdanningsdirektoratet på en strukturert måte sammen med resultatene fra 2009 og 2010. Om du finner noe du vil rette kan du redigere det selv på <a href="https://spreadsheets.google.com/ccc?key=0AonGfbsFlQRLdFNyVDIyQjhYZm4zX3ZTZmNuQnQwQlE&hl=en">Google Docs</a>. Send <a href="mailto:even@bengler.no">meg en mail</a> om du gjør noen rettelser. Om du vil hjelpe til å forbedre tjenesten finner du <a href="https://github.com/evenwestvang/skoolgate">kildekoden på github</a>. Hele <a href="http://origo.no/-/bulletin/show/606082">utviklingsprosessen er også forresten dokumentert</a>.
  .section
    %h2.contact
      Hilsen Even Westvang –
      <a href="mailto:even@bengler.no">mail</a>
      <a href="http://origo.no/even">origo</a>
      <a href="http://twitter.com/evenioslo">twitter</a>