.content_page
  %section
    %h2 Hvorfor
    %p
      :plain
        Sammen med nye tenner, soverutiner og mulige fall i boligmarkedet er skolekvaliteten et vanlig samtaletema blant foreldre på østkanten av Oslo. En kveld forsøkte jeg å finne å finne noen tall på hvordan det egentlig går med skolene her i nærheten, men kom bare tilbake fra Google med et <a href="http://www.dagbladet.no/nyheter/2008/11/13/553824.html">excel-ark</a> fra Dagbladet og minner om et lite behjelpelig <a href="http://skoleporten.utdanningsdirektoratet.no/rapportvisning.aspx?enhetsid=974589877&vurderingsomrade=88e13531-a5b6-4c33-ad87-b0ceb59b26b1&underomrade=84a8d573-72fc-4c7c-ba82-ff996c4a80ce&skoletype=0">utdanningsdirektorat</a>. Jeg tenkte derfor at det hadde vært en fin liten øvelse å gjøre denne informasjonen mer tilgjengelig.
  %section
    %h2 Kartnøkkel
    %p
      %ul
        %li
          %span{:style => "color:green;"}Grønne 
          skoler gjorde det bra
        %li
          %span{:style => "color:red;"}Røde 
          skoler gjorde det dårlig
        %li
          <strong>Større</strong> markører betyr flere elever
        %li
          Kartet er
          = link_to "tilgjengelig i svart/hvitt", "/usecontrast"
          for de som er farveblinde
  %section
    %h2 Nasjonale prøver
    %p
      :plain
        Man skal være forsiktig med hva man måler ettersom måling ofte endrer adferd på utilsiktede måter. Incentivene du trodde skulle effektivisere og forenkle, <a href="http://en.wikipedia.org/wiki/Perverse_incentive">perverterer prosessene</a> du forsøkte å styre. I USA har de senket nasjonale krav for læreplaner samtidig som de har lagt vekt på nasjonale prøver. Den angrende Diane Ravitch som hjalp til å innføre dette systemet har skrevet om hvordan det gikk i <a href="http://www.amazon.com/Death-Great-American-School-System/dp/0465014917">The Death and Life of the Great American School System: How Testing and Choice Are Undermining Education</a>.
    %p
      :plain
        Så hvorfor sitte oppe om natten for å gjøre disse resultatene tilgjengelige? De nasjonale prøvene brukes allerede av utdanningsdisrektoratet til å belønne skolene. Så viktig har det blitt for skolene at de holder <a href="http://www.aftenposten.no/nyheter/iriks/article3882776.ece">svake elever hjemme</a>. De eneste som ikke har god tilgang til tallene er vi som ikke har skolen som arbeidsplass. Jeg synes man burde se lenge og hardt på hvorvidt man skal måle skolene på denne måten, men når informasjonen først eksisterer kan jeg ikke se noen grunn til at den ikke skulle være allment tilgjengelig på en god måte. 
  %section
    %h2 Datakvalitet
    %p
      :plain
        Datagrunnlaget for skoleporten.bengler.no er overlevert fra utdanningsdirektoratet. De mente imidlertid det var for arbeidskrevende å legge ved unike nøkler for skolene og prøvene. Derfor er resultater på tvers av år og adresse- og elevinformasjon spleiset sammen ved å sammenligne skolenavn. Det var <a href="https://github.com/evenwestvang/skoolgate/blob/master/tasks/io.thor">en ganske omfattende oppgave</a> (les: som å skjære av seg armen med en slu saks) og det kan forekomme feil. Fremgangsmåten for 2009 var forresten som følger:

    %p
      %ul
        %li 
          Les resultatsettene for 2008
        %li 
          Opprett skoler, fylker og kommuner fortløpende
        %li 
          Les resultatsettene for 2009
        %li 
          Legg de resultatene man kan på skolene fra 2008 som har samme navn
        %li 
          Ta resultatene som ikke matcher noe skolenavn og
        %li 
          Finn skolene i kommunen fra 2008 som ennå ikke har fått resultater for 2009
        %li 
          Forsøk med match på hele 2008 navnet mot 2009 navnet som substreng og vise versa
        %li 
          Kjør så levenshtein-distanse på navnene til skolene i samme kommune og match de over en gitt terskel. Bruk alle navnene skolen noengang har hatt.
        %li 
          Opprett skolene som fortsatt ikke har fått en match
    %p
      :plain
        Det sparer muligens utdanningsdirektoratet tid å ikke nøkle informasjonen sin skikkelig (f.eks på organisasjonsnummer), men for oss som forsøker å bruke informasjonen på en strukturert måte er det relativt kostbasrt.
    %p
      :plain 
        Det mangler også forresten rundt 218 skoler hvor navnene i adresselistene ikke stemte overens med navnene på skolene. Om du ikke finner en skole er det sansynligvis på grunn av dette. Du kan eventelt sende en mail til <a href="mailto:post@utdanningsdirektoratet.no">utdanningsdirektoratet</a> og be de sende meg nasjonale prøver, adresser og elevtall nøklet sammen på en skikkelig måte. Nuvel.
    %p
      :plain
        Om du finner på en lurt hjørne du har lyst til å legge til her kan du sjekke ut all kildekoden og datagrunnlaget fra <a href="https://github.com/evenwestvang/skoolgate">github</a>. Hele første runde av <a href="http://origo.no/-/bulletin/show/606082">utviklingsprosessen er også forresten overgrundig dokumentert</a>.

  %section
    %h2.contact
      Hilsen Even Westvang –
      <a href="mailto:even@bengler.no">mail</a>
      <a href="http://origo.no/even">origo</a>
      <a href="http://twitter.com/evenioslo">twitter</a>
    &nbsp;
    .clear