- @map_page = true

#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({
      app_id : 137325976336227,
      status : true, 
      cookie : true, 
      xfbml  : true
    });
  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/nb_NO/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());

  options = #{(map_options || {}).to_json};
  $(function(){
    initialize(options);
  });

%script{:id => "schoolTemplate", :type => "text/x-jquery-tmpl"}
  .school_infobox
    .fb_like
    .student_body_count
      %span{:class => "count"} 
        ${student_body_count}
      elever
    %h2 ${name}
    .address
      %span{:id => "street_view_button", :style => "display:none;"} Se panorama
      &nbsp;
    .chartBox
    .like_box