- @map_page = true

:javascript
  options = #{(map_options || {}).to_json};
  $(function(){
    initialize(options);
  });

%script{:id => "schoolTemplate", :type => "text/x-jquery-tmpl"}
  .school_infobox
    .student_body_count
      %span{:class => "count"} 
        ${student_body_count}
      elever
    %h2 ${name}
    .address
      %span{:id => "street_view_button", :style => "display:none;"} Se panorama
      &nbsp;
    .chartBox
  :plain
    <iframe src="http://www.facebook.com/plugins/like.php?locale=nb_NO&href=${school_url}&amp;layout=standard&amp;show_faces=false&amp;width=400&amp;action=recommend&amp;font=helvetica&amp;colorscheme=light&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:25px;" allowTransparency="true"></iframe>