.about_box
  .section
    %h2 Dette året har vi ikke resultatene for
    %p
      :plain
        Jeg har ikke klart å skaffe resultatene for dette året ennå. Utdannningsdirektoratet bør levere dem fra seg, men om du allerede sitter med resultatsettet for hele Norge for dette året må du gjerne <a href="mailto:even@bengler.no">sende datasettet til meg på epost</a>. Om det skal være til hjelp trenger jeg alle resultatene fra hele landet og informasjon om hvilken kommune og fylke hver skole ligger i. Det samme som <a href="http://www.dagbladet.no/download/Nasjonaleprover.html.xls">dette</a> egentlig.