@import 'mixins'

$accent: #1af
$accent_plus: #adf
$footer: rgba(10,10,10,0.9)
$header: rgba(10,10,10,0.8)

$black: #333
$lite: #999
$very_lite: #666
$very_very_lite: #222
$white: #fff
$white_lite: darken($white, 15%) 

div
  :padding 0
  :margin 0

a
  :text-decoration none
  :color $accent
  
a:link
  :color $accent

a:visited
  :color $accent

a:hover
  :color $accent_plus

body
  :margin 0px
  :font-family "Helvetica Neue", "Helvetica", sans-serif
  :font-weight 300
  :font-size 12px
  :color $white
  :text-transform uppercase
  :background-color #333
  
  h1.accented, h2.accented, h3.accented, h4.accented, h5.accented
    :color #bbb
    :font-weight normal

    a
      :color #bbb
    
    strong
      :color #fff
      @include bold_type

  #map_canvas
    :width 100%
    :opacity 0.90

  header
    :position absolute
    :top 20px
    :right 0
    :margin 0
    :padding 0
    :width 35%

    .header_top
      :background-color $header
      :padding 15px 25px 5px 25px
      .logo
        :display inline-block
        :font-size 28px
        :line-height 25px
        :margin 0

        a
          :color white

    nav
      @include list_as_nav
      @include bold_type
  
    nav.year_selector
      :font-weight 300
      :font-size 36px
      :line-height 34px

      .active
        a
          :color white

  .header_search_ui
    :font-weight normal
    :padding-top 0
    :background-color rgba(30,30,30,0.8)
    :border-top rgba(0,0,0,0.9) 1px solid

    #view_stats
      :color #aaa
      :padding 5px 8px 7px 25px
    
  .header_search_ui.less_details
    :background-color rgba(80,30,30,0.8)

  .school_infobox
    h2
      :margin 0px 0px 3px 0px

    .address
      :color $lite

      #street_view_button
        :cursor pointer

    .student_body_count
      :margin-right 10px
      :color #000
      :background-color #666
      :float right
      :width 50px
      :padding 8px 3px 3px 3px
      :font-size 8pt
      :text-align center
      @include corners(3px,3px,3px,3px)
      :border 1px solid #444
    
    span.count
      :font-size 12pt
      :line-height 10px
      @include bold_type
      :text-shadow 1px 1px 2px #888
    
    .chartBox
      :margin-top 10px


.content_page
  :padding 10px
  :width 60%
  :margin 0px 0px 0px 10px

  h1
    :font-weight normal

  nav.school_listing
    @include list_as_nav

    ul 
      li
        @include bold_type
        :padding 8px
        :background-color #000
        :margin 0px 0px 2px 0px

      li.title
        :background-color #fff
        :color #000
  
  section
    :padding 1px 15px 10px 15px
    :margin 0px 0px 10px 0px
    :clear both
    :display block
    :background-color $footer

    h2
      :width 200px
      :color #fff
  
    h2.contact
      :width 90%

    h2.contact a
      :text-decoration underline
      :color #fff
  
    p
      :font-size 10pt
      :text-transform none
      :line-height 16pt
      :margin-top 0

    ul
      :display inline-block
      :margin 0
      :text-transform none

      li
        :margin-bottom 2px

  #school_map_canvas 
    :margin 10px 0px
    :width 100%
    :height 400px

.stats_page
  .graph
    :width 100%
    :height 420px


#container.no_map .header_search_ui
  :display none

#container.map footer
  :position absolute
  :bottom 10px
  :left 0

footer
  @include list_as_nav
  :background-color $footer
  :color $lite
  :padding 5px 10px 5px 35px
  :margin 20px 0px 10px 0px
  :clear both
  :display block

  a
    :color darken($lite, 10)
  
  li.muted
    a, a:link
      :color darken($lite, 20%) 

  li.twitter
    a, a:link
      :padding-left 20px
      :background url(/tweet_bird.png) no-repeat 0px -1px

